<strong>Olá, {{ deliveryman_name }}</strong>
<p>Houve um cancelamento na entrega</p>

<div>
  <p><strong>Informações de entrega:</strong></p>
  <table>
    <tr>
      <td>Produto</td>
      <td>{{ product }}</td>
    </tr>
    <tr>
      <td>Destinatario</td>
      <td>{{ recipient }}</td>
    </tr>
    <tr>
      <td>Endereço</td>
      <td>{{ address }}</td>
    </tr>
  </table>

</div>
